.row.columns.content
  %h2 Your Account

  .row
    .columns.small-6.medium-3
      %dl.callout.primary
        %dt State:
        %dd= current_user.state
    .columns.small-6.medium-3.end
      %dl.callout.primary
        %dt Candidate:
        %dd= current_user.desired_candidate

  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f|
    .row
      .columns.small-12
        = devise_error_messages!

    .row
      .columns.small-12.medium-6
        = f.label :name
        = f.text_field :name, autofocus: true

      .columns.small-12.medium-6
        = f.label :email
        = f.email_field :email
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      .callout.warning Currently waiting confirmation for: #{resource.unconfirmed_email}

    .row
      .columns.small-12.medium-6
        = f.label :phone do
          Phone
          = f.telephone_field :phone, value: number_to_phone(resource.phone)

    - if current_user.clinton_voter? && !current_user.matched?
      = render "match_preference_fields", f: f

    %hr
    .row
      .columns.small-12.medium-6
        = f.label :password, "New password"
        = f.password_field :password, autocomplete: "off"
        %p.help-text (leave blank if you don't want to change it)

      .columns.small-12.medium-6
        = f.label :password_confirmation, "New password confirmation"
        = f.password_field :password_confirmation, autocomplete: "off"

    .row
      .columns.small-12
        = f.label :current_password
        = f.password_field :current_password, autocomplete: "off"
        %p.help-text (we need your current password to confirm your changes)

    .row.actions
      .columns.small-12
        = f.submit "Update", class: "button"

  = link_to "Back", :back
