.row.columns.content
  %h1 Coming Together to Stop Trump

  %p
    Are you torn between wanting to prevent a Trump presidency and backing the third party of your choice?
    Or have you decided to vote for Clinton, but you live in a state that is solidly red or blue and you wish
    your vote made more of a difference?
    Vote—swapping resolves the catch-22.

  %p
    If you're in a swing state, voting for Jill Stein or Gary Johnson would dangerously increase Donald Trump's
    chances of winning the Presidency. On the other hand, if you're in an uncontested state, be that California or Mississippi,
    voting for Hillary will not affect her odds of winning one way or another. MakeMineCount makes use of that
    coupling of circumstances to facilitate an exchange of votes: a Stein or Johnson supporter in a swing state is matched with a
    Clinton supporter in an uncontested state, and they swap votes—meaning the Stein or Johnson supporter votes for
    Clinton, while the Clinton supporter votes for Stein or Johnson.

  %p
    This way, a candidate like Jill Stein will be aided in crossing 5% of the general vote, with which the Green Party will
    qualify for federal funding in 2020, while ensuring that Clinton gets the votes needed, where they are needed, to keep
    Trump out of power. With vote-swapping, the catch-22 becomes a win-win.

  %h2.subheader Frequently Asked Questions
  %dl
    %dt Why wait until October? I want to be matched now!
    %dd Patience, friend. Polls are changing all the time and we want to use the best data to match voters. We'll also be able to make better matches once we have more registrants, so please share the site with your friends and family too.
    %dt What guarantee do I have that my partner will vote as directed?
    %dd Just their word. This is a platform to facilitate people coming together in good faith with the mutual goal of keeping Trump out of the White House.
    %dt Wait, is this legal?
    %dd Yes! Representatives in Congress trade votes all the time, and in the 2000's, #{link_to 'courts upheld our right', 'https://en.wikipedia.org/wiki/Vote_pairing#Legality'} to trade votes.
    %dt Why do I have to verify my email address?
    %dd Verifying email addresses helps us prevent abuse.
    %dt This is cool! How can I get involved?
    %dd
      Thanks! 😎  You can absolutely get involved.
      %br
      Contact us on Twitter: #{link_to "Tweet at us", "https://twitter.com/intent/tweet?screen_name=MakeMineCount", class: "twitter-mention-button"}
      %br
      Or jump right into the code on #{link_to "Github", "https://github.com/sdhull/strategic_voting"}!

  %h2.subheader What's the Story Behind This Site?
  %p
    A very smart man named #{link_to "Michael Oman-Reagan", "https://twitter.com/OmanReagan"} wrote a
    #{link_to "great piece about strategic voting", "https://medium.com/@OmanReagan/solving-the-2016-election-with-strategic-voting-2609f897bc09"}
    and how it might be used to help frustrated progressive Bernie supporters continue to support a progressive candidate
    (Jill Stein) without indirectly helping Trump win the general election.

  %p
    People from all over the country were galvanized into action, and one smart person immediately
    created a Facebook group that was focused on vote swapping to defeat Trump.

  %p
    Many of us eventually found each other on Twitter and joined forces to form the basic logic &amp; content of the site.

  %p
    Technical execution has been mainly completed by #{link_to "Steve Hull", "https://twitter.com/producersteve"} of Oakland, CA,
    who has years of experience in startups and open source development.
