.hero
  = image_tag "hero.jpg", class: "trump"
  = image_tag "everybody_wins.png", class: "everybody"

.row.columns.content
  %h1 Make Your Voice Heard. Defeat Donald.

  %p.xlarge-txt.subheader
    Many progressives don’t want to endorse Clinton, but we all want to stop Trump.

  .text-center
    = link_to "Count me in!", new_user_registration_path, class: "button large"

  .row
    .columns.small-12.medium-6.end
      %ul.checkboxes
        %li
          Hillary Clinton wins critical swing states.
        %li
          3rd Party candidates receive more votes overall, giving them a better chance of reaching critical federal thresholds.

  .row
    .columns.small-12.medium-6
      %dl.callout.primary
        %dt Hillary Voters:
        %dd Teleport your vote to a state where it <em data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" tabindex="1" title="Voting for Hillary in an uncontested state won't help her win. Voting in swing states will.">matters</em>.
    .columns.small-12.medium-6.end
      %dl.callout.secondary
        %dt Jill Stein/Gary Johnson Voters:
        %dd Teleport your vote to a state where it won't indirectly help Trump win the election.

  .row
    .columns.small-12.medium-6
      = image_tag "teleport-your-vote.png"

  %p
    By strategically trading votes with voters in other states, we can have our cake and eat it too.
    3rd party candidates get more votes, and Hillary Clinton wins.

  .row.columns.small-12.medium-6
    = image_tag "everybody-wins-black.png"

